In [4]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [5]:
# Data Preprocessing
dataset=pd.read_csv('E:/4th sem/4. ma-II/3rd unit/MA-Winston Wayne-Chapter 29 Excel files/work.csv')

In [6]:
dataset.describe().transpose()

         count unique       top freq
apples     314      1    apples  314
artichok   305      1  artichok  305
avocado    363      1   avocado  363
baguette   392      1  baguette  392
bordeaux    74      1  bordeaux   74
bourbon    403      1   bourbon  403
chicken    315      1   chicken  315
coke       296      1      coke  296
corned_b   391      1  corned_b  391
cracker    488      1   cracker  488
ham        305      1       ham  305
heineken   600      1  heineken  600
hering     486      1    hering  486
ice_crea   313      1  ice_crea  313
olives     473      1    olives  473
peppers    296      1   peppers  296
sardines   296      1  sardines  296
soda       318      1      soda  318
steak      227      1     steak  227
turkey     283      1    turkey  283

In [7]:
dataset

,apples,artichok,avocado,baguette,bordeaux,bourbon,chicken,coke,corned_b,cracker,ham,heineken,hering,ice_crea,olives,peppers,sardines,soda,steak,turkey
0,NaN,NaN,NaN,NaN,NaN,bourbon,NaN,NaN,corned_b,NaN,ham,NaN,hering,ice_crea,olives,NaN,NaN,NaN,NaN,turkey
1,NaN,NaN,NaN,baguette,NaN,NaN,NaN,NaN,corned_b,cracker,NaN,heineken,hering,NaN,olives,NaN,NaN,soda,NaN,NaN
2,NaN,artichok,avocado,NaN,NaN,NaN,NaN,NaN,NaN,cracker,ham,heineken,NaN,NaN,NaN,NaN,sardines,NaN,NaN,turkey
3,NaN,NaN,NaN,NaN,NaN,bourbon,NaN,coke,NaN,NaN,ham,NaN,NaN,ice_crea,olives,peppers,NaN,NaN,NaN,turkey
4,apples,NaN,avocado,NaN,NaN,NaN,NaN,NaN,corned_b,NaN,NaN,NaN,hering,NaN,olives,NaN,NaN,NaN,steak,turkey
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,NaN,artichok,avocado,NaN,NaN,bourbon,chicken,NaN,NaN,cracker,ham,heineken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,apples,NaN,NaN,baguette,NaN,NaN,NaN,NaN,corned_b,NaN,ham,NaN,hering,NaN,olives,NaN,NaN,NaN,NaN,turkey
998,NaN,NaN,NaN,baguette,NaN,NaN,NaN,NaN,NaN,cracker,NaN,heineken,hering,NaN,NaN,NaN,sardines,soda,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,chicken,coke,corned_b,NaN,NaN,heineken,NaN,ice_crea,NaN,peppers,sardines,NaN,NaN,NaN
1000,apples,NaN,NaN,NaN,NaN,bourbon,NaN,NaN,corned_b,NaN,NaN,heineken,hering,NaN,olives,NaN,NaN,NaN,steak,NaN

In [8]:
transactions=[]
for i in range(0,1000):
    transactions.append([str(dataset.values[i,j]) for j in range(0,20)])

In [9]:
rule_list = apriori(transactions, min_support = 0.02, min_confidence = 0.95, min_lift = 2, min_length = 2)

In [ ]:
# Visualizing the list of rules
results = list(rule_list)
for i in results:
    print('\n')
    print(i)
    print('**********')